@import './mixin';
body {font-size: 0.13rem;}
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #666;
  font-size: .22rem;
  box-sizing: border-box;
  font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  &:focus {
    outline: none;
}
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
select {

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*加padding防止文字覆盖*/
  padding-right: 14px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
width: 0px;
height: 0px;
background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
border-radius: 10px;
background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

input,textarea { -webkit-appearance: none;}

html,body{
  height: 100%;
  width: 100%;
  background-color: #fff !important;
}
.flex-box{display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis2{
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ellipsis3{
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.clear:after{
  content: '';
  display: block;
  clear: both;
}
.clear{
  zoom:1;
}
.clearfix:before,.clearfix:after{content: " "; display: table;}
.clearfix:after{clear:both;}

.page1{
  background-color: #ffffff;
}
#app{
  &.iOS,&.android{
    .g-footer{
      display: none;
    }

  }
  &.android{
    .main-box2{
      height: calc(100vh - .8rem);
      overflow-y: auto;
      position: relative;
    }
    .main-box3{
      height: calc(100vh - 1.84rem);
    }
    .main-box9{
      height: calc(100vh - .81rem);
    }
  }
  &.iOS{
    .main-box{
      height: calc(100vh - 65px);
    }
    .main-box1{
      height: calc(100vh - 65px);
    }
    .main-box2{
      height: calc(100vh - .82rem - 65px);
    }
    .main-box3{
      height: calc(100vh - .84rem - 65px);
    }
    .main-box4{
      height: calc(100vh);
    }
    .main-box5{
      height: calc(100vh - 1rem);
    }
    .main-box6{
      height: calc(100vh - .9rem - 65px);
    }
    .main-box7{
      height: calc(100vh - 1.9rem - 65px);
    }
    .main-box8{
      height: calc(100vh - .8rem - 65px);
    }
    .main-box9{
      height: calc(100vh - .81rem);
    }
    .f-back{
      position: fixed;
      height: 65px;
      padding-top: 20px;
      z-index: 20;
    }
    .top-searchbar{
      height: 65px;
      padding-top: 20px;
      .back{
        padding: 0.1rem 0.2rem;
      }
      .title-head{
        @include cl;
        line-height: 45px;
        bottom: 0;
        width: 50%;
        text-align: center;
        @include sc(0.337rem, #191f25);
      }
    }
  }
  &.phone-type-x{
    .main-box{
      height: calc(100vh - 89px);
    }
    .main-box1{
      height: calc(100vh - 89px - 34px);
    }
    .main-box2{
      height: calc(100vh - .82rem - 89px - 34px);
    }
    .main-box3{
      height: calc(100vh - .84rem - 89px - 34px);
    }
    .main-box4{
      height: calc(100vh - 34px);
    }
    .main-box5{
      height: calc(100vh - 1rem - 34px);
    }
    .main-box6{
      height: calc(100vh - .9rem - 89px);
    }
    .main-box7{
      height: calc(100vh - 1.9rem - 89px - 34px);
    }
    .main-box8{
      height: calc(100vh - .8rem - 89px);
    }
    .main-box9{
      height: calc(100vh - .81rem);
    }
    .f-back{
      position: fixed;
      height: 89px;
      padding-top: 44px;
    }
    .top-searchbar{
      height: 89px;
      padding-top: 44px;
      .back{
        padding: 0.1rem 0.2rem;
      }
      .title-head{
        @include cl;
        line-height: 45px;
        bottom: 0;
        width: 50%;
        text-align: center;
        @include sc(0.337rem, #191f25);
      }
    }
  }
  &.h5-phone-type-x{
    /*.main-box{
      height: calc(100vh - 1rem - 34px);
    }*/
    .main-box1{
      height: calc(100vh - 1rem - 34px);
    }
    .main-box2{
      height: calc(100vh - 1.82rem - 34px);
    }
    .main-box3{
      height: calc(100vh - 2.84rem - 34px);
    }
    /*.main-box4{
      height: calc(100vh - 34px);
    }*/
    .main-box5{
      height: calc(100vh - 1rem - 34px);
    }
    .main-box7{
      height: calc(100vh - 2.9rem - 34px);
    }
    .main-box9{
      height: calc(100vh - .81rem);
    }
    .g-footer,.g-bot{
      height: calc(1rem + 34px);
      padding-bottom: 34px;
    }
  }
}
.scroll{
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.main-box{
  height: calc(100vh - 1rem);
  overflow-y: auto;
  position: relative;
}
.main-box1{
  height: calc(100vh - 1.2rem);
  overflow-y: auto;
  position: relative;
}
.main-box2{
  height: calc(100vh - 1.8rem);
  overflow-y: auto;
  position: relative;
}
.main-box3{
  height: calc(100vh - 2.84rem);
  overflow-y: auto;
  position: relative;
}
.main-box4{
  height: calc(100vh);
  overflow-y: auto;
  position: relative;
}
.main-box5{
  height: calc(100vh - 1rem);
  overflow-y: auto;
  position: relative;
}
.main-box6{
  height: calc(100vh - 1.9rem);
  overflow-y: auto;
  position: relative;
}
.main-box7{
  height: calc(100vh - 2.9rem);
  overflow-y: auto;
  position: relative;
}
.main-box8{
  height: calc(100vh - 1.8rem);
  overflow-y: auto;
  position: relative;
}
.main-box9{
  height: calc(100vh - 1rem - .81rem);
  overflow-y: auto;
  position: relative;
}
.f-back{
  position: fixed;
  height: 1rem;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  .back-icon{
    @include wh(.8rem,.8rem);
    border-radius: 50%;
    background: rgba(0,0,0,.3);
    margin-left: .2rem;
    text-align: center;
  }
  i{
    @include sc(.4rem,$fc);
    line-height: .8rem;
  }
}
.common-toast {
  @include center();
  z-index: 11000;
  width: auto;
  padding: 0 8px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.common-toast-show {
  -webkit-animation: commonToastShow ease 300ms;
  animation: commonToastShow ease 300ms;
}

.common-toast-hide {
  -webkit-animation: commonToastHide ease 500ms;
  animation: commonToastHide ease 500ms;
}
@-webkit-keyframes commonToastShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes commonToastShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes commonToastHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes commonToastHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.g-confirmbtn{
  @include wh(100%, 1rem);
  background-color: #4a89dc;
  text-align: center;
  line-height: 1rem;
  @include sc(.3rem, #fff)
}
.g-zpages{
  .swiper-pagination-bullet-active{
    background-color: #ffffff;
  }
}

.swiper-slide-active{
  .p1{
    color: #4a89dc !important;
  }
  .p2{
    background-color: #4a89dc !important;
    color: #fff !important;
  }
}
.g-nonews{
  margin-top: 3.56rem;
  text-align: center;
  img{
    @include wh(5rem,2.75rem);
  }
  p{
    line-height: 1.56rem;
    @include sc(.3rem, #4d4c4c);
  }
}
.g-confirm{
  .yd-mask{
    z-index: 1400!important;
  }
  .yd-popup-center{
    z-index: 1402!important;
    border-radius: .4rem;
    transform: translate(-50%,-50%) scale(1);
    padding: .4rem;
    background: $fc;
  }
}
.yd-confirm{
  width: 6rem!important;
  border-radius: .2rem!important;
  .yd-confirm-hd{
    text-align: center;
    font-size: .3rem;
    font-weight: bold;
  }
  .yd-confirm-bd{
    text-align: center;
    padding: .3rem 1rem 0;
    font-size: .3rem;
  }
  .yd-confirm-ft:after{
    display: none;
  }
  .yd-confirm-ft{
    text-align: center;
    padding-bottom: .5rem;
    margin-top: .5rem;
    a{
      margin: 0 auto;
      color: #fff!important;
      @include wh(1.6rem,.6rem);
      line-height: .6rem;
      border-radius: .1rem;
      flex: inherit;
      background: #4a89dc;
    }

  }
}

.yd-radio{
  line-height: .4rem!important;
  .yd-radio-icon{
    color: #4a89dc!important;
    width: .4rem!important;
    height: .4rem!important;
    i{
      background: #4a89dc;
      width: .2rem!important;
      height: .2rem!important;
    }
  }
  .yd-radio-text{
    font-size: .28rem;
  }
}
.g-introduce{
  img{
    width: auto;
    max-width: 100%;
  }
}

.g-eve{
  padding: 0 .2rem;
  width: 25%;
  .icon-box{
    margin: 0 auto;
    @include wh(1.06rem,1.06rem);
    //background-color: #4a89dc;
    text-align: center;
    border-radius: 50%;
    line-height: 1.06rem;
    overflow: hidden;
    img{
      @include wh(1.06rem,1.06rem);
      object-fit: cover;
    }
    i{
      @include sc(.5rem,#fff)
    }
  }
  p{
    text-align: center;
    line-height: .84rem;
    @include sc(.28rem,#727171);
  }
  .c-green{
    background-color: #44c288;
  }
  .c-organge{
    background-color: #f47e4b;
  }
  .c-puple{
    background-color: #cc8adb;
  }
}


.f-fonts *{
  font-size: .28rem !important;
}
.f-font-input{
  font-size: .26rem;
}

.swiper-container2{
  height: 100%;
  img{
    height: auto;
  }
  .swiper-pagination{
    bottom: 0.4rem !important;
    .swiper-pagination-bullet{
      @include wh(0.2rem,0.2rem);
      background-color: #FFFFFF;
      border: 1px solid #a6a6a5;
      opacity: 1;
      position: relative;
      margin:0 .09rem !important;
    }
    .swiper-pagination-bullet-active{
      background-color: $blue;
      border-color: $blue;
    }
  }
}

.g-sliderbox{
  position: relative;
  z-index: 1;
  .swiper-container{
    .swiper-slide{
      position: relative;
      z-index: 2;
      img{
        position: relative;
        z-index: 3;
      }
    }
  }
}

#app *[lazy="loading"]{
  max-width: 30% !important;
  object-fit: none;
}

#app .g-frame .g-opacity{
  animation:w-opacity 2s infinite linear;
}
@keyframes w-opacity{
  0%{opacity:1}
  10%,90%{opacity:.9}
  20%,80%{opacity:.8}
  30%,70%{opacity:.7}
  40%,60%{opacity:.6}
  50%{opacity:.5}
  to{opacity:.95}
}

.g-btn{
  padding: .2rem;
  .btn{
    @include wh(100%,.8rem);
    background-color: #2291e1;
    text-align: center;
    @include sc(.3rem,$fc);
    border-radius: .18rem;
    line-height: .8rem;
    justify-content: center;
    &.disable{
      background-color: #d4d3d3;
    }
  }
}

.radio{
  .yd-radio-text{
    margin-left: .26rem;
  }
}
.address-input{
  input::-webkit-input-placeholder{
    font-family: "Microsoft Yahei",sans-serif !important;
    font-size: .26rem!important;
    color: #aeaeae!important;
  }
}
